@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <h1 class="display-4">Bienvenido a mi primer aplicación en NETCORE </h1>
    <br/>
    <img src="~/images/net_core.png" alt="Girl in a jacket" style="width:500px;height:500px;">
    <br/>
    <br/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
