@{
    ViewData["Title"] = "Registro del usuario";
}
@model UsuarioViewModel
<form asp-controller="Home" asp-action="User" method="post">
    <center>
        <div class="card mb-4">
                    <div class="card-header">Ingrese sus datos</div>
                    <div class="card-body">
                        <br />
                        <div class="form-group text-left">
                            <label asp-for="Input.Nombres"></label>
                            <input asp-for="Input.Nombres" class="form-control" />
                            <span asp-validation-for="Input.Nombres" class="text-danger"></span>
                        </div>
                        <div class="form-group text-left">
                            <label asp-for="Input.Apellidos"></label>
                            <input asp-for="Input.Apellidos" class="form-control" />
                            <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
                        </div>
                        <div class="form-group text-left">
                            <label asp-for="Input.Correo"></label>
                            <input type="email" asp-for="Input.Correo" class="form-control" />
                            <span asp-validation-for="Input.Correo" class="text-danger"></span>
                        </div>
                        <div class="form-group text-left">
                            <label asp-for="Input.Direccion"></label>
                            <textarea rows="2" asp-for="Input.Direccion" class="form-control"></textarea>
                            <span asp-validation-for="Input.Direccion" class="text-danger"></span>
                        </div>


                        <div class="card-footer bg-transparent">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </div>
                    <label id="indexMessage" class="error">@Html.DisplayFor(o => o.ErrorMessage)</label>
        </div>
    </center>
</form>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}